.active {
  color: black !important;
  border-bottom: 1px solid black;
}

.slide1 {
  background-image: url('/front-end/image/Section.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 800px;
}

.content-slide {
  width: 50%;
  height: 100%;
}

.content {
  letter-spacing: 10px;
}


.mySlider {
  display: none;
}

img {
  vertical-align: middle;
}

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  max-height: 100px;
  /* Điều chỉnh chiều cao tại đây */
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  /* Sửa relative thành absolute */
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.8);
  /* Thêm nền màu khi hover */
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  /* Sửa relative thành absolute */
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  /* Sửa relative thành absolute */
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fader {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {

  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
.slider{
  
  background-image: url('../images/slide1.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 900px;
  
}
.fa-star{
  font-size: 50px;
}
.name{
  font-size: 70px;
}
.order-1{
 
  margin-top: -80px;
  position: relative;
  z-index: 1;
}
.sahow{
  box-shadow: 0px 30px 100px rgb(0, 0, 0);
}
.main_container{
  box-shadow: 0px 0px 50px black;
}
.box1{
  background-color: #d5d5d5;
  margin-top: -62px;
}
.border-1{
  border: 10px solid white;
}
.border-2{
  border: 10px solid rgb(233, 233, 233);
}
.user:hover a{
  display: block;
}
.user{
  font-weight: 700;
  color: brown;
}